<app-navbar></app-navbar>

<!-- ENTORNO -->
<div id="layoutSidenav">

  <!-- BARRA LATERAL -->
  <div id="layoutSidenav_nav">
      <app-sidebar></app-sidebar>
  </div>

  <!-- CONTENIDO -->
  <div id="layoutSidenav_content">

    <!-- Header - set the background image for the header in the line below    -->


      <main>

        <div class="banner-area">
            <div class="content-area">
               <div class="content">
                  <h1>Bienvenid@</h1>
                  
                  <p>{{user.nombre}} {{user.apellido}}</p>
               </div>
            </div>
        </div>
        


      </main>

  </div>
</div>




<!-- 

https://youtu.be/rUMUck9Afjs?t=1093

-->
