<div class="card mb-3 border-0">
    <img src="https://i.postimg.cc/hjr4s7G8/camion.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Descripción</h5>
      <p class="card-text">
        Nuestros proveedores nos ayudan a mantener el suministro constante de productos, 
        ofrecer precios competitivos, mantener la calidad de los productos, 
        proporcionar acceso a productos especializados y facilitar la gestión del inventario.
      </p>
    </div>
 </div>