
  
<div class="container-fluid px-4">

    <h1 class="mt-4">Usuario</h1>
    <div class="d-flex bd-highlight">
      <div class="p-2 flex-grow-1 bd-highlight">
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item">
            <a [routerLink]="'/app/usuario'">Listado</a>
          </li>
          <li class="breadcrumb-item active">Editar</li>
        </ol>
      </div>
      <div class="p-2 bd-highlight">
        <button mat-raised-button color="accent" [routerLink]="'/app/usuario'">
          Atras
        </button>
      </div>
    </div>
  
    <!-- CUADRO 1 INICIO -->
    <div class="card mb-4">
      <div class="card-header">
        <i class="fa-solid fa-file-lines"></i>
        Formulario 
      </div>
      <div class="card-body">
  
        <form *ngIf="user"  (ngSubmit) = "actualizarDatos()">


          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Nombre</mat-label>
            <input required [(ngModel)] = "user.nombre" name = "nombre" matInput placeholder="Digite su nombre">
          </mat-form-field>

          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Apellido</mat-label>
            <input required [(ngModel)] = "user.apellido" name = "apellido" matInput placeholder="Digite su apellido">
          </mat-form-field>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="full-width"  appearance = "outline">
                <mat-label>Email</mat-label>
                <input required [(ngModel)] = "user.email" name = "email" type="email" matInput placeholder="Digite su email">
              </mat-form-field> 
            </div>

            <div class="col-md-6">
              <mat-form-field class="full-width"  appearance = "outline">
                <mat-label>Teléfono</mat-label>
                <input required [(ngModel)] = "user.telefono" name = "telefono" matInput placeholder="Digite su telefono"
                (ngModelChange)="valuechangeTelefono($event)" id="telefono" maxlength="9">
              </mat-form-field>
            </div>
          </div>


          
          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Dirección</mat-label>
            <input required [(ngModel)] = "user.direccion" name = "direccion" matInput placeholder="Digite su direccion">
          </mat-form-field>



          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="full-width"  appearance = "outline">
                <mat-label>DNI</mat-label>
                <input required [(ngModel)] = "user.dni" name = "dni" matInput placeholder="Digite su dni"
                (ngModelChange)="valuechangeDni($event)" id="dni" maxlength="8">

              </mat-form-field>    
            </div>

            
            <div class="col-md-6">
              <!-- Rol editable -->
              <mat-form-field class="w100" appearance="outline" *ngIf="currentUserName!=user.username">
                <mat-label>Rol</mat-label>
                <mat-select name="rol" [(ngModel)] = "user.roles[0].rolId">
                  <mat-option required *ngFor = "let r of rol" [value] = "r.rolId">
                    {{ r.rolNombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- Rol readonly (al mostrar el perfil del mismo ususario) -->
              <mat-form-field class="full-width"  appearance = "outline" *ngIf="currentUserName==user.username">
                <mat-label>Rol</mat-label>
                {{user.roles[0].rolNombre}}
                <input matInput value=" " readonly style="display: none;">
              </mat-form-field>
              
            </div>
          </div>

          
          <div class="row">
            <div class="col-md-6">
        
              <mat-form-field class="full-width"  appearance = "outline">
                <mat-label>Nombre de usuario</mat-label>
                {{user.username}}
                <input matInput value=" " readonly style="display: none;">

              </mat-form-field>

            </div>
            <div class="col-md-6">

              <mat-slide-toggle class="mt20" name = "activo" [(ngModel)] = "user.enabled" color="primary" *ngIf="currentUserName!=user.username">
                Estado de registro
              </mat-slide-toggle>
              
            </div>
          </div>


          <div class="container text-center">
            <button mat-raised-button color="primary" class="me-2">Guardar</button>
            <button type="reset" mat-raised-button color="accent" class="ml20" >Limpiar</button>
          </div>


        </form> 
        
      </div>
    </div>
    <!-- CUADRO 1 FIN -->
  
  </div>
  